body {
    background-color: aliceblue;
    text-align: center;
    margin: 10px 10px 0 10px;
    height: 110vh;
}

.menu-container {
    background-color: antiquewhite;
    height: 13vh;
}

.menu-container a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

.menu-container img {
    height: 5.3rem;
    float: left;
}

.menu-button button {
    background-color: brown;
    border-radius: 0.3rem;
    border-style: none;
}

.menu-button {
    margin-right: 85px;
}

.contact-container {
    background-color: azure;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container a {
    font-size: 1rem;
    text-decoration: none;
    color: aliceblue;
}

.contact-container h3 a {
    color: black;
}

.contact-container button {
    border-radius: 0.2rem;
    border-style: none;
    background-color: blue;
}

footer {
    float: right;
}

@media (max-width: 600px) {
    body {
        background-color: yellowgreen;
    }

    .contact-container {
        background-color: chartreuse;
    }

    .menu-button a {
        font-size: 1.5rem;
    }
}
