body {
    background-color: aliceblue;
    text-align: center;
    margin: 10px 10px 0 10px;
    height: 220vh;
}

.menu-container {
    background-color: antiquewhite;
    height: 13vh;
}

.menu-container img {
    height: 5.3rem;
    float: left;
}

.menu-container a {
    font-size: 2rem;
    color: aliceblue;
    text-decoration: none;
}

.menu-button {
    margin-right: 85px;
}

.menu-button button {
    background-color: brown;
    border-radius: 0.3rem;
    border-style: none;
}

.banner-container {
    background-color: aquamarine;
    height: 37vh;
    text-align: left;
    margin-top: 20px;
}

.banner-logo {
    height: 15rem;
    float: right;
}

.banner {
    height: 6rem;
    width: 35rem;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: beige;
    margin-top: 20px;
}

.details-item img {
    height: 20rem;
}

.beauty-container img {
    height: 18rem;
}

.beauty-container {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    margin-top: 10px;
}

.contact-container {
    margin-top: 20px;
    background-color: blanchedalmond;
    height: 15vh;
}

.contact-container a {
    font-size: 3rem;
    color: antiquewhite;
    text-decoration: none;
}

.contact-container button {
    background-color: brown;
    border-style: none;
    border-radius: 0.5rem;
    margin-top: 20px;
}

footer {
    float: right;
}

@media (max-width: 600px) {
    body {
        height: 280vh;
        background-color: chartreuse;
    }

    .banner-logo {
        height: 5rem;
    }
    
    .banner {
        height: 5rem;
        width: 24rem;
    }

    .menu-container a {
        font-size: 1.5rem;
    }
    
    .details-container {
        height: 200vh;
        background-color: blueviolet;
        display: grid;
        grid-template-columns: 1fr;
    }

    .beauty-container {
        grid-column: span 1;
    }

    .details-item img {
        height: 19rem;
    }

    .beauty-container img {
        height: 16rem;
    }

}
